.proj_list{
    padding: 5% 25%;

}

.proj_list a{
    text-decoration: none;
    color: inherit;
    padding: 5% 2% 5%;

}

.proj_list .proj1{
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-radius: 10px;
    height: 150px;
    width: auto;
    display:flex;
}

.proj1 img{
    height: 150px;
    width: 200px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: inherit;
}

.proj1 .proj1_title{
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.proj1 .proj1_title h3{
    padding-left: 2%;
    font-size: 30px;
    font-weight: 700;
    height: 70px;
    width: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    color: inherit;
}

.proj_list .proj2{
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-radius: 10px;
    height: 150px;
    width: auto;
    display:flex;
}

.proj2 img{
    height: 150px;
    width: 200px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: inherit;
}

.proj2 .proj2_title{
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.proj2 .proj2_title h3{
    font-size: 30px;
    font-weight: 700;
    height: 70px;
    width: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}