@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color:black;
    background: white;
}

nav{
    padding: 20px 3%;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    display: flex;
    align-items: left;
}

nav .nav-links .index button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    height: 50px;
    width: 100px;
    background: none;
    color: inherit;
    border: 3px solid #2493E2;
    border-radius: 10px;
    transition-duration: 0.2s;
}

nav .Chatbot button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    height: 50px;
    width: 130px;
    color: white;
    background: #2493E2;
    border: 3px solid #2493E2;
    border-radius: 10px;
    transition-duration: 0.2s;
}

nav .nav-links{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .nav-links .first button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    font-size: 22px;
    font-weight: 600;
    height: 50px;
    width: 150px;
    background: none;
    border: 3px solid #2493E2;
    border-radius: 10px;
    transition-duration: 0.2s;
}


nav a{
    text-decoration: none;
}

nav .nav-links .second button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    height: 50px;
    width: 110px;
    background: none;
    border: 3px solid #2493E2;
    border-radius: 10px;
    transition-duration: 0.2s;
}

nav .nav-links .index :hover{
    scale: 1.1;
    background-color: #2493E2;
    color: white;
}

nav .nav-links .index :active{
    scale: 0.9;
}

nav .Chatbot :hover{
    scale: 1.1;
    background-color: #ffffff;
    color: black;
}

nav .nav-links .Chatbot :active{
    scale: 0.9;
}

nav .nav-links .first :hover{
    scale: 1.1;
    background-color: #2493E2;
    color: white;
}

nav .nav-links .first :active{
    scale: 0.9;
}

nav .nav-links .second :hover{
    scale: 1.1;
    background-color: #2493E2;
    color: white;
}

nav .nav-links .second :active{
    scale: 0.9;
}

nav .settings button{
    background: none;
    border: none;
}

nav .settings button:hover{
    transition: 0.70s;
    transform: rotate(360deg);
    scale: 1.3;
}

nav .settings button:active{
    scale: 1.0;
}

.about-me {
    padding: 200px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    height: calc(75vh - 80px);
}

.about-me .info h1{
    font-size: 64px;
    margin-bottom: 2%;
}

.about-me .info p{
    font-size: 24px;
    margin-bottom: 45px;
    width: 100%;
}

.about-me img{
    width: 350px;
    height: 350px;
}